%h1= @movie.title
%br
= image_tag @movie.image
%p= link_to 'See the trailer', @movie.trailer
%h3 Description:
%p= @movie.description
%br
= link_to 'Home', root_path
%br
%br
%table
	%tbody
	- @showtimes.each do |showtime|
		%tr
			%td= showtime.location
			%td= showtime.time

= simple_form_for [@movie, @showtime] do |f|
	.location
		= f.input :location
	.time
		= f.input :time
	.submit
		= f.button :submit
