<div class="row">
	<div class="large-12 columns">
		<table width="100%">
			<tr>
				<td><h3><%= @movie.title %></h3></td>
				<td class="right"><%= link_to "Delete", @movie, method: :delete, data: { confirm: "Are you sure?" } %></td>
				<td class="right"><%= link_to "Edit", edit_movie_path(@movie) %></td>
			</tr>
		</table>

		<table style="width:100%;background-color:black;">
			<tr>
				<td width="30%"><%= image_tag @movie.image %></td>
				<td><iframe frameborder="0" width="640" height="360" src="http://www.youtube.com/embed/<%= @movie.trailer %>" allowfullscreen></iframe></td>
			</tr>
		</table>

		<table>
			<tr>
				<td><p><%= @movie.description %></p></td>
			</tr>
		</table>

	</div>
</div>