<h1><%= @movie.title %></h1>

<br>

<%= image_tag @movie.image %>
<p><%= link_to 'See the trailer', @movie.trailer %></p>

<h3>Description:</h3>
<p><%= @movie.description %></p>

<br>

<%= link_to 'Home', root_url %>
<br>
<br>
<table>
	<tbody>
		<% @showtimes.each do |showtime| %>
			<tr>
				<td><%= showtime.location %></td>
				<td><%= showtime.time %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= form_for [@movie, @showtime] do |f| %>
	<div class="location">
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>
	<div class="time">
		<%= f.label :time %>
		<%= f.text_field :time %>
	</div>
	<div class="submit">
		<%=	f.submit 'Create Showtime', :class => "button" %>
	</div>
<% end %>
