<%= form_for @video do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :youtube_id %>
		<%= f.text_field :youtube_id %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<%= f.submit %>
<% end %>