<h1>All Videos</h1>
<ul>
	<li><%= link_to "Gladiator", video_path('gladiator') %></li>
	<li><%= link_to "Matilda", video_path('matilda') %></li>
	<li><%= link_to "Seinfeld", video_path('seinfeld') %></li>
	<li><%= link_to "Friends", video_path('friends') %></li>
	<li><%= link_to "Friends and Seinfeld", show_two_path('friends', 'seinfeld') %></li>
</ul>
